# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local FFI binaries downloaded dynamically
dependencies/
*.dll
*.so
*.dylib

# Zips and archives
*.zip
*.gz
*.tar.gz

# Virtual environments
.venv/
venv/
ENV/

# IDE config files
.idea/
.vscode/
.project
.pydevproject
.settings/
